
@{
    ViewData["Title"] = "Email Sent Done";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
			<div asp-validation-summary="ModelOnly"></div>

			<p>Email has been sent Succefuly!</p>

		<p>Back to Login<a asp-controller="Account" asp-action="SignIn">Login Now</a></p>
	</div>
</div>

