@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form method="Post">
			<div asp-validation-summary="ModelOnly"></div>

			<input class="text" asp-for="Email" type="email" placeholder="Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>

			<input type="submit" value="Send Email">
		</form>
	</div>
</div>

