
@{
    ViewData["Title"] = "Issue On Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="ModelOnly"></div>

		<p>Something Went Wrong Please try Again!</p>

		<p>Back to Login<a asp-controller="Account" asp-action="SignIn">Login Now</a></p>
	</div>
</div>

